<div class="container">

     <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 style="font-size: 24px;"> {{data?"Edit":"Create New"}} Post</h1>
        <a (click)="dialogRef.close();" class="btn btn-outline-primary">Close</a>
     </div>


        

    <form [formGroup]="myForm" >

  

        <div class="form-group">

            <label for="title">Title:</label>

            <input 
                formControlName="title"
                id="title" 
                type="text" 
                class="form-control mt-2">
        </div>

  

        <div class="form-group mb-3">
            

            <label class="mt-2" for="body">Body</label>

            <div formArrayName="body" class="mt-2">
                <div *ngFor="let field of nestedFields['controls']; let i=index">
                  <div class="d-flex " [formGroupName]="i">
                    <!-- Add your nested field controls here -->
                    <input  class="form-control mb-3 mr-3 align-items-center"  formControlName="nestedFieldControl" type="text">

                    <a *ngIf="i > 0" style="height: 40px;"  (click)="RemoveData(i)" class="btn btn-primary bg-primary p-2 mx-2">Remove</a>

                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-outline-success mr-3" (click)="addNestedField()">Add Field</button>
        <button class="btn btn-primary" (click)="submit()" type="submit" [disabled]="!myForm.valid">Submit</button>

    </form>

</div>